@using BTCPayServer.Abstractions.Contracts
@using BTCPayServer.Client
@inject IScopeProvider ScopeProvider
@{
    var storeId = ScopeProvider.GetCurrentStoreId();
}
@if (!string.IsNullOrEmpty(storeId))
{
    <li class="nav-item">
        <a permission="@Policies.CanModifyStoreSettings" layout-menu-item="DigitalDownloads" asp-controller="DigitalDownloadsAdmin" asp-action="Index" asp-route-storeId="@storeId">
            <svg role="img" class="icon icon-makepay-digital-products" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M7 2.75h6.5l3.75 3.75v14.75H7a2 2 0 0 1-2-2V4.75a2 2 0 0 1 2-2Z" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linejoin="round" />
                <path d="M13.5 2.75V6.5h3.75M11.25 9v6m-2.5-2.5 2.5 2.5 2.5-2.5M8.75 18h5" fill="none" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            <span>Digital Products</span>
        </a>
    </li>
}
